*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: serif;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  padding: 16px;
  width: min(300px, 100%);
  margin: 0 auto;
}
.card {
  background-image: linear-gradient(40deg, #129631 0%, #07e0ec 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.2rem;
  color: white;
  margin: 10px;
}
.card__button {
  background: transparent;
  border: 2px solid white;
  border-radius: 1vw;
  color: white;
  padding: 0.4rem 0.5rem 0.6rem;
  cursor: pointer;
}

.card-headline {
  position: fixed;
  margin: 0;
}
.hidden {
  visibility: hidden;
}
.header {
  position: sticky;
  background-image: linear-gradient(20deg, #129631 0%, #07e0ec 100%);
  color: white;
  height: 80px;
  padding: 0px;
  z-index: 2;
}

h1 {
  text-align: center;
}

h1 {
  text-align: center;
  color: white;
  line-height: 1.4;
  margin: 0;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  padding-block: 16px;
}
.card__question {
  width: 100%;
  padding: 10% 0;
  scroll-margin-top: 100px;
  position: relative;
  left: 15px;
}

.fa-bookmark {
  font-size: 2em;
  padding: 5px 20px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 32px;
  right: 10px;
}
.fa-bookmark-s {
  font-size: 2em;
  padding: 5px 20px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 225px;
  right: 10px;
}

.category-tags {
  position: absolute;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  color: #8413b9;
}
.category__tag--games {
  position: absolute;
  bottom: -2px;
  left: -45vw;
  background-color: rgb(222, 218, 218);
  border: solid 1px black;
  border-radius: 5px;
}

.category__tag--nintendo {
  background-color: rgb(222, 218, 218);
  position: absolute;
  left: -69px;
  bottom: -2px;
  border: solid 1px black;
  border-radius: 5px;
}

.footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 55px;
  background-image: linear-gradient(20deg, #129631 0%, #07e0ec 100%);
  z-index: 1;
}
.nav-footer {
  position: sticky;
  top: 5px;
  margin: 0;
  padding: 0;
}
.images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  height: 20%;
  gap: 20px;
}
#some-checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox-hack-content {
  display: none;
}

#some-checkbox:checked ~ .checkbox-hack-content {
  display: block;
}
.show-answer {
  display: flex;
  flex-direction: column;
  align-content: center;
}

/*.card__button:hover {
  background: white;
  color: #8413b9;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
} */
